body,html{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

body{
    margin-left: 3%;
    margin-right: 3%;
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

h2{
    margin-top:50px;
    margin-left: 50px;
}

p{
    text-align: justify;
}

.exit_btn {
    position:absolute;
    right:50%;
    border: 2px solid #2283bf;
    border-radius: 5px;
    text-decoration: none;
    color:#313131;
    padding:4px;
}

@media screen and (max-width: 480px) {
    h2{
        text-align: center;
        margin-left: 0;
    }
}