body {
    margin:0;
    padding:0;
    overflow-x: hidden;
    width: 100%;
}

.main {
    margin:20px;
    justify-content: center;
}

#description {
    width: 100%;
    border-radius: 7px; 
}

.form_incident {
    width: auto;
    justify-content: center;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: right;
    gap:10px;
    border-radius: 5px;
}

.submit_btn {
    border: 2px solid #2283bf;
    border-radius: 5px;
    text-decoration: none !important;
    padding:4px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.exit_btn {
    border: 2px solid #2283bf;
    border-radius: 5px;
    text-decoration: none;
    color:#313131;
    padding:4px;
    font-family: 'Roboto', sans-serif;
}